html, body {
  height: 100%;
}

#zoom-to-area {
  width: 100%;
}

#row-table {
  height: 200px;
  overflow: auto;
}

.max-height {
  height: 100%;
}

.default-padding-top {
  padding-top: 10%;
}

.default-padding-left {
    padding-left: 10%;
}

.no-padding-left {
    padding-left: 0px;
}