html, body {
  height: 100%;
}

#zoom-to-area {
  width: 100%;
}

#row-table {
  height: 500px;
  overflow: auto;
}

.max-height {
  height: 100%;
}

.default-padding-top {
  padding-top: 10%;
}

.default-padding-left {
  padding-left: 10%;
}

#pano {
  width: 200px;
  height: 200px;
}